
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>公司介绍 -- 源清慧虹</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="无锡源清慧虹信息科技有限公司是业内领先的以物联网技术研发和应用推广为主营业务的高新技术企业，是清华大学物联网技术唯一产业基地。">
<meta name="keywords" content="无锡源清慧虹信息科技有限公司">
<!-- Le styles -->
<link href="/static/css/bootstrap.css?v=7ca2e017dcb9cbb0305acfd55566827f" rel="stylesheet" type="text/css" rel="stylesheet">
<link href="/static/css/base.css?v=a335446a3c85f953c1a43a21f54d22fa" rel="stylesheet" type="text/css" rel="stylesheet">
<link rel="shortcut icon" href="/static/icon.ico">
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-ie6.css">
<![endif]-->
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="/static/css/ie.css">
<![endif]-->
<link href="/static/css/bootstrap-responsive.css?v=b626be49731b63affaa1bd71fed6f8b8" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<![endif]-->
<script src="/static/js/jquery-1.7.2.js?v=af693f9aea7dae36fb3bef4c9b6e56fb"></script>
<script src="/static/js/bootstrap.min.js?v=051af58b6f8355455af3667084aa72e0"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/static/js/bootstrap-ie.js?v=2491aeaab5285f685ce4236776f50e80"></script>
<![endif]-->

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top ">
<div class="navbar-inner">
<div class="container-fluid">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div class='container'>
<a class="brand" href="/">源清慧虹科技</a>
<div class="nav-collapse collapse">
<ul class="nav">
<li class="m_index"><a href="/">首页</a></li>


<li class="m_company dropdown">
<a href="/company.html" class="dropdown-toggle" data-toggle="dropdown">公司 <b class="caret"></b></a>
<ul class="dropdown-menu">

<li><a href="/company/about.html">关于我们</a></li>

<li><a href="/company/zizhi.html">资质</a></li>

<li><a href="/company/team.html">团队</a></li>

<li><a href="/company/patent.html">专利</a></li>

<li><a href="/company/news.html">新闻</a></li>

<li><a href="/company/jobs.html">招聘</a></li>

</ul>
</li>



<li class="m_product dropdown">
<a href="/product.html" class="dropdown-toggle" data-toggle="dropdown">产品 <b class="caret"></b></a>
<ul class="dropdown-menu">

<li><a href="/product/sensor.html">传感器</a></li>

<li><a href="/product/transfer.html">传输设备</a></li>

</ul>
</li>



<li class="m_case"><a href="/case.html">案例</a></li>



<li class="m_cloud"><a href="/cloud.html">云服务</a></li>



<li class="m_solution"><a href="/solution.html">解决方案</a></li>



<li class="m_technology dropdown">
<a href="/technology.html" class="dropdown-toggle" data-toggle="dropdown">技术 <b class="caret"></b></a>
<ul class="dropdown-menu">

<li><a href="/technology/research.html">技术研究</a></li>

<li><a href="/technology/tech_news.html">业内动态</a></li>

</ul>
</li>



<li class="m_contact"><a href="/contact.html">联系我们</a></li>




</ul>
<script>
!function ($) {
$(function(){
$('li.m_company').addClass('active');
})
}(window.jQuery)
</script>
</div><!--/.nav-collapse -->
</div>
</div>
</div>
</div>
<div class='big-banner'>
<div class='container'>
 <ul class="breadcrumb">
<li><a href="/">源清慧虹</a> <span class="divider">/</span></li>

<li><a href="/company.html">公司</a> <span class="divider">/</span></li>

<li class="active">关于我们</li>
</ul>
<h3>关于我们</h3>
</div>
</div>
<div class="container-fluid container">
<div class="row-fluid">
<div class="span3">
 
<div class="well">
<ul class="nav nav-list">
<li class="nav-header">公司</li>

<li class=" active "><a href="/company/about.html">关于我们</a></li>

<li class=""><a href="/company/zizhi.html">资质</a></li>

<li class=""><a href="/company/team.html">团队</a></li>

<li class=""><a href="/company/patent.html">专利</a></li>

<li class=""><a href="/company/news.html">新闻</a></li>

<li class=""><a href="/company/jobs.html">招聘</a></li>

</ul>
</div>

<div class="well contact">
<ul class="nav nav-list">
<li class="nav-header">联系我们</li>
<li>电话:010-58856680</li>
<li>传真:010-58856685</li>
<li>热线:4006-266-208</li>
<li>邮箱:contact@smartbow.net</li>
</ul>
</div><!--/.well -->
</div><!--/span-->
<div class="span9" style='min-height:400px;'>
<h4>“智慧基础设施”的物联网系统和云服务专家</h4>
<div><p class="p0">
	<strong><span style="color:#E53333;">源自清华</span></strong> 
</p>
<p class="cjk" style="text-indent:0.74cm;">
	源清慧虹信息科技有限公司，是致力于成为全球领先的基础设施监测物联网产品和解决方案的高科技公司。
</p>
<p class="cjk" style="text-indent:0.74cm;">
	我们能够为桥梁、隧道、高铁、公路、地下管线、水坝、仓库等大型基础设施提供高精度的无线传感网监测系统，并为用户提供各种基于云计算的数据分析、储存、处理、分发和同步服务。
</p>
<p class="cjk" style="text-indent:0.74cm;">
	<br />
</p>
<p class="p0">
	<strong><span style="color:#E53333;">具备优秀的技术团队和科研能力</span></strong> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	源清慧虹的技术团队由清华大学及国内知名院校的电子、计算机、土木等方面的教授、专家组成。团队在无线传感网应用领域的研发工作已经超过10年。所有成员提出的发明专利总数超过100项，SCI论文数超过40。
</p>
<p class="p0" style="text-indent:21.0000pt;">
	各团队成员分别主持或参与了国家自然科学基金、973计划、863计划、国家重大科技专项等国家计划中的多个关键科研项目及“核高基”专项，另外还有科技部“十五”国家科技攻关重大专项下的“道路交通安全评估预警关键技术研究”、国家物联网专项“道桥隧物联网云服务平台”等方面的主要贡献。
</p>
<p class="p0">
	&nbsp;
</p>
<p class="p0">
	<span style="color:#E53333;"><strong>国际先进的技术水平和实用成就</strong></span> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	在过去3年中，源清慧虹建设了国内第一个真正基于无线传感网的桥梁结构监测系统。该项目是当今世界无线传感网项目中监测网络规模最大、监测参数种类最多的桥梁结构健康监测项目。
</p>
<p class="p0" style="text-indent:21.0000pt;">
	项目所使用的关键技术，以及整体“基于无线传感网的桥梁结构健康监测系统”，得到了中国工程院院士吴佑寿、王永滨、王华等专家的鉴定和认可，被评为在桥梁监测方面“填补了国内该领域的空白，总体水平处于国际先进水平”。
</p>
<p class="p0">
	&nbsp;
</p>
<p class="p0">
	<span style="color:#E53333;"><strong>完整的基础设施结构安全监测技术体系</strong></span> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	源清慧虹从核心芯片、节点硬件、网络协议到应用平台都形成了完整的自主知识产权技术体系，开发了一系列高精度、高敏度、高智能、高同步、低功耗、低延时、长寿命的结构检测用传感器，包括应变计、沉降计、振动计等，并得到清华大学结构工程检测中心的校准、标定和认可。这些产品已先后被用于国内关键大桥、隧道以及2008奥运场馆的结构安全监测。
</p>
<p class="p0">
	&nbsp;
</p>
<p class="p0">
	<span style="color:#E53333;"><strong>特色云服务创造“智慧基础设施”</strong></span> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	在云服务方面，源清慧虹以国家物联网专项“道桥隧物联网云服务平台”的成果为基础，面向实际用户开发和完善了桥梁结构安全监测云服务平台，能够高效地进行海量数据处理和分析，进行桥梁损伤定位、寿命预测等工作，操作和管理界面直观、便捷，可有力支持桥梁专家和机构的桥梁管理、诊断及维护工作。
</p>
<p class="p0" style="text-indent:21.0000pt;">
	<br />
</p>
<p class="p0">
	<span style="color:#337FE5;"><strong>请让我们为您的智慧基础设施工作</strong></span> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	源清慧虹以清华大学为底蕴，拥有丰富的基础设施结构安全监测经验和相关科研经验，能够为用户提供国际先进、可定制的技术方案和产品，快速周全的项目实施服务。欢迎您与我们联络。
</p>
<p class="p0">
	&nbsp;
</p>
<p class="p0">
	<strong><span style="font-size:24px;"><a name="q1"></a>源清慧虹发展简史</span></strong> 
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2013年，山东樵岭前大桥结构健康监测系统
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2012年，江苏南通新江海河大桥结构健康监测系统
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2011年，在无锡蓉湖大桥建成国内首个桥梁结构健康无线传感系统
</p>
<p class="p0" style="text-indent:68.2500pt;">
	承担国家物联网专项“道桥(隧)物联网云服务平台”
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2008年，开始研发可实际应用的无线传感器网络体系
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2006年，承担国家863计划“WSN的低功耗技术”
</p>
<p class="p0" style="text-indent:21.0000pt;">
	2003年，无线传感网理论研究、基础设施领域应用开始
</p></div>
</div><!--/span-->
</div><!--/row-->
<hr>
<!-- FOOTER -->
<footer style='text-align: center'>
<p>&copy; 2013 源清慧虹信息科技有限公司, Inc. 苏ICP备13043359号</p>
</footer>
<script type="text/javascript">
$(function(){
$('.bs-docs-sideba').scrollspy();
$('.dropdown-menu').on('touchstart.dropdown.data-api', function(e) { e.stopPropagation() })
})
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F674a3ef8c76128ab519d7a160345a5dd' type='text/javascript'%3E%3C/script%3E"));
</script>
</div><!--/.fluid-container-->
</body>
</html>
